@model IEnumerable<DevBlog.Models.Article>

@{
    ViewBag.Title = "Home Page";
}
<p>Articles:</p>
@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
    <h4>@Html.DisplayFor(modelItem => item.Author)</h4>
    <p>@Html.DisplayFor(modelItem => item.Body)</p>
    <hr />
}
